.optional-link{
    padding-left: 80px;
    padding-right: 80px;
}
.login-form{
   margin-top: 120px;
   margin-bottom: 100px;
}
.logInForm{
    width: 600px;
}
@media screen and (max-width:415px){
    .login-form{
        margin-top: 100px;
        margin-bottom: 60px;
    }
    .logInForm{
        width: 350px;
    }
    .optional-link{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}